<div class="container mt-2">
    <div class="row container-fluid infoPersonal m-0 w-100">
        <div class="col-sm-3 col centered">
            <img src="../../../assets/programer.png" alt="" class="programer">
        </div>
        <div class="col-sm-3 col p-5 text-start">
            <h2>Johan Rosero</h2>
            <p><img src="../../../assets/github-icon-1.svg" alt="" width="30" height="24"><a
                    href="https://github.com/JohanRosero" target="_blank"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Perfil
                    GitHub</a></p>
        </div>
        <div class="col-sm-3 col p-5 text-start">
            <h2>Ezequiel Alavar</h2>
            <p><img src="../../../assets/github-icon-1.svg" alt="" width="30" height="24"><a
                    href="https://github.com/JohanRosero" target="_blank"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Perfil
                    GitHub</a></p>
        </div>
        <div class="col-sm-3 col p-5 text-start">
            <h2>Mateo García</h2>
            <p><img src="../../../assets/github-icon-1.svg" alt="" width="30" height="24"><a
                    href="https://github.com/JohanRosero" target="_blank"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Perfil
                    GitHub</a></p>
        </div>       
    </div>
    <div class="container-fluid fondo w-100 animacion">
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
    </div>
    <div class="row container">
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
        <div class="col-sm-4 col "></div>
    </div>

</div>
