<footer class="bg-dark p-2">
    <div class="row container-fluid ">
        <div class="col-sm-4 col text-center">
            <blockquote class="blockquote mb-0">
                <p>Analista Programador Universitario </p>
                <footer class="blockquote-footer pb-2">Programa <cite title="Source Title">2008</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-sm-4 col text-center">
            <blockquote class="blockquote mb-0">
                <p>Univesidad Nacional de Jujuy</p>
                <footer class="blockquote-footer pb-2">Av. Italo Palanca <cite title="Source Title">SS. Jujuy</cite>
                </footer>
            </blockquote>
        </div>
        <div class="col-sm-4 col text-center">
            <blockquote class="blockquote mb-0">
                <p>&copy;Todos los derechos reservados.</p>
                <footer class="blockquote-footer pb-2">Presentación Final  <cite title="Source Title">HIA</cite>
                </footer>
            </blockquote>
        </div>

    </div>

</footer>